<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<h1>all of the Car database entries</h1>
<form action="{% url 'index' %}" method="post">
    {% csrf_token  %}
    {% for cars in car_list %}
    <p>{{newCarData.make}}</p>
    <p>{{newCarData.model}}</p>
    <p>{{newCarData.year}}</p>
    <p>{{newCarData.mpg}}</p>

<a href="{% url 'CONGRATS' %}">Send to Congrats!</a>
    {% endfor %}
<input type="submit">Submit</input>
</form>

</body>
</html>